In [1]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\abina\onedrive\desktop\visualcode\redbusscraping\env\lib\site-packages (2.2.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.26.0 in c:\users\abina\onedrive\desktop\visualcode\redbusscraping\env\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\abina\onedrive\desktop\visualcode\redbusscraping\env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\abina\onedrive\desktop\visualcode\redbusscraping\env\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\abina\onedrive\desktop\visualcode\redbusscraping\env\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\abina\onedrive\desktop\visualcode\redbusscraping\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [20]:
import os
import pandas as pd

# Path to the folder containing CSV files
folder_path = r"C:\Users\abina\OneDrive\Desktop\visualcode\redbusScraping\exportedcsvfiles"

# List to store individual DataFrames
dataframes = []

# Iterate through all files in the folder
for file_name in os.listdir(folder_path):
    # Check if the file is a CSV file
    if file_name.endswith(".csv"):
        # Read the CSV file
        file_path = os.path.join(folder_path, file_name)
        df = pd.read_csv(file_path)
        # Append the DataFrame to the list
        dataframes.append(df)

# Concatenate all DataFrames into a single DataFrame
combined_df = pd.concat(dataframes, ignore_index=True)

# Save the combined DataFrame to a new CSV file
output_file = r"C:\Users\abina\OneDrive\Desktop\visualcode\redbusScraping\combined_data.csv"
combined_df.to_csv(output_file, index=False)

print(f"Combined CSV saved to {output_file}")

Combined CSV saved to C:\Users\abina\OneDrive\Desktop\visualcode\redbusScraping\combined_data.csv

In [22]:
df = pd.read_csv("combined_data.csv")

In [23]:
import pandas as pd
#add id column
id_column = pd.Series(range(1, len(df) + 1), name='id')
df = pd.concat([id_column, df], axis=1)
df = pd.read_csv("combined_data.csv")

In [25]:
df.isnull().sum()

Route_Name            0
Route_Link            0
Bus_Name             89
Bus_Type             89
Departing_Time       89
Duration             89
Reaching_Time        89
Star_Rating          88
Price                89
Seat_Availability    89
dtype: int64

In [26]:
df1=df.dropna()

In [27]:
# replace string to empty string
df1['Price'] = df1['Price'].str.replace('INR ', '')

#extract the digits(0-9)
df1['Seat_Availability'] = df1['Seat_Availability'].str.extract('(\d+)')

<>:5: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
C:\Users\abina\AppData\Local\Temp\ipykernel_2872\3502610099.py:5: SyntaxWarning: invalid escape sequence '\d'
  df1['Seat_Availability'] = df1['Seat_Availability'].str.extract('(\d+)')
C:\Users\abina\AppData\Local\Temp\ipykernel_2872\3502610099.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Price'] = df1['Price'].str.replace('INR ', '')
C:\Users\abina\AppData\Local\Temp\ipykernel_2872\3502610099.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Seat_Availability'] = df1['Seat_Availability'].str.extract('(\d+)')

In [28]:
df1.dtypes

Route_Name            object
Route_Link            object
Bus_Name              object
Bus_Type              object
Departing_Time        object
Duration              object
Reaching_Time         object
Star_Rating          float64
Price                 object
Seat_Availability     object
dtype: object

In [29]:
df1['Seat_Availability']=df1['Seat_Availability'].astype('int')
df1['Price']=df1['Price'].astype('float')

C:\Users\abina\AppData\Local\Temp\ipykernel_2872\2312006269.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Seat_Availability']=df1['Seat_Availability'].astype('int')
C:\Users\abina\AppData\Local\Temp\ipykernel_2872\2312006269.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Price']=df1['Price'].astype('float')

In [30]:
df1.dtypes

Route_Name            object
Route_Link            object
Bus_Name              object
Bus_Type              object
Departing_Time        object
Duration              object
Reaching_Time         object
Star_Rating          float64
Price                float64
Seat_Availability      int64
dtype: object

In [34]:
#python mysql connection
import pymysql
myconnection = pymysql.connect(host='localhost', user='root',passwd='Password@123',port=3307)

In [35]:
# Create a database
mycursor = myconnection.cursor()
mycursor.execute('CREATE DATABASE IF NOT EXISTS redbus')

1

In [ ]:
# Create a table
mycursor = myconnection.cursor()

In [37]:
df = pd.read_csv("combined_data.csv")
a = ",".join(f"{i} {j}"
for i,j in zip(df.columns,df.dtypes)).replace("float64","float").replace("object","text").replace("int64","int") #replace dtypes from pandas to mysql
table_name = "bus_routes"
myconnection.cursor().execute(f"create table redbus.{table_name} ({a})")

0

In [40]:
for i,row in df1.iterrows():
    data=tuple([row['Route_Name'],row['Route_Link'],row['Bus_Name'],row['Bus_Type'],row['Departing_Time'],row['Duration'],row['Reaching_Time'],row['Star_Rating'],row['Price'],row['Seat_Availability']])
    myconnection.cursor().execute(f"insert into redbus.{table_name} values {data}")
    myconnection.commit()